html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

canvas {
  display: block;
  margin: auto;
  border-radius: 8px;
}

@media(min-width:756px) {
  body {
    flex-direction: row;
  }

  .container {
    max-width: 50%;
  }
}